<h1>Carrito</h1>
<div>
    {{#each carts}}
    <div>
        <h2>{{this._id}}</h2>
        <ul>
            {{#each this.products}}
            <li>Product ID: {{this._id}}, Quantity: {{this.quantity}}</li>
            {{/each}}
        </ul>
    </div>
    {{/each}}
</div>