{{#each user}}
    <h1>{{this.first_name}}</h1>
    <div class="user-card-profile">
        <div class="user-profile">
            <h2>{{this.last_name}}</h2>
            <p>{{this.email}}</p>
            <p>{{this.age}}</p>
        </div>
    </div>
{{/each}}
<a class="button" href="/session/logout">Cerrar sesión</a>
