.table .table-img{
	height: 50px;
}
.table td, .table th{
	padding: 5px 80px 5px 80px;
}
.content {
	width: 90vw;
}
.message {
	max-width: 300px;
}
input {
	max-width: 400px;
}
.message-box {
	height: 300px;
	overflow-y: scroll;
}

