<h2 class="mt-4">Form</h2>
<form id="product-form">
	<label for="name" class="form-label mt-2">Name:</label>
	<input type="text" name="name" id="name" class="form-control">
	<label for="price" class="form-label mt-2">Price:</label>
	<input type="text"  name="price" class="form-control" id="price">
	<label for="imgUrl" class="form-label mt-2">Img Url:</label>
	<input type="text" name="imgUrl" class="form-control" id="imgUrl">
	<button onclick="productFormSubmit()" type="button" class="btn btn-primary mt-3">Add Product</button>
</form>
