<div class="Session">

    <h1>Login:</h1>

    <form id="loginForm">

        <p>Email</p>

        <br/>

        <input type="email" name="email" required>

        <br />

        <p>Contraseña</p>
        
        <br/>

        <input type="password" name="password" required>

        <br/>
        <br/>

        <input class="boton" type="submit">

    </form>

    <br/>
    <br/>
    
    <div>
        <a href="/api/sessions/github"><button class="boton">Entrar con GitHub</button></a>
    </div>

    <p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/login.js"></script>