<div class="Session">

    <h1>Registro:</h1>

    <form id="registerForm">

        <input type="text" name="first_name" placeholder="Nombre" required>

        <br/>

        <input type="text" name="last_name" placeholder="Apellido" required>

        <br/>

        <input type="email" name="email" placeholder="Correo" required>

        <br/>

        <input type="number" name="age" placeholder="Edad" required>

        <br/>

        <input type="password" name="password" placeholder="Contraseña" required>

        <br/>

        <input class="boton" type="submit">

    </form>

    <br/>
    <br/>

    <p>¿Ya tienes una cuenta? <a href="/login">Ingresa aquí</a></p>

</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/register.js"></script>